@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*shared style*/
main > section {
  margin-top: 130px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
.display-flex {
  display:flex;
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  border-style: none;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding:20px 25px;
}
/* gray */
.dark-02 {
  color:#424242;
}
/* light-gray */
.dark-03 {
  color:#727272;
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
/* header style */
/*nav-bar style*/
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-weight: 700;
  font-size: 3rem;
}
.nav-item {
  list-style: none;
  font-weight: 500;
}
.nav-link{
  text-decoration: none;
}
.nav-links{
  gap:2rem;
}
.navbar {
  max-width:1440px;
  margin:0 auto;
}
/* banner style */
.banner-title {
  font-size: 4rem;
  font-weight: bold;
}
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}
.banner-image {
  width:100%;
}
/* main section one */
.team-container {
  align-items: center;
}
.our-features{
  margin-left: 4rem;
  max-width: 33rem;
}
.team-members-img {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap: 1.2rem;
}
.features-title{
  font-size: 2.8rem;
}
#Quick-list{
  font-weight: 400;
  color:#727272;
}
#of-our{
  font-weight: bold;
  color:#131313;
}
#Features{
  color:#FF900E;
}
/* section two */
.features {
  display: flex;
  gap:8.5rem;
}
#features-head-title{
  border-left: 8px solid #FF900E;
  padding:1.4rem;
}
.features-head{
  font-size: 45px;
  font-weight: bold;
  color:#131313;
}
.features-head-description{
  font-size: 16px;
  color:#727272;
}
.features-card{
  gap:1.2rem;
}
.section-features-card {
  background-color: white;
  padding:30px 42px;
  border-radius: 8px;
  box-shadow:0px 4px 40px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 1.5rem;
}
.section-features-card-title {
  color:#131313;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
}
.section-features-description{
  color:#727272;
  font-size: 16px;
  margin-bottom: 0;
}
#experience-btn{
  padding:46px 42px;
  font-size: 25px;
  font-weight: 500;
  margin-left: -96px;
  margin-top: -77px;
}
#experience-year{
  font-size: 4rem;
  font-weight: bold;
}
.architect-img{
  width: 100%;
}
/* section three */
.fact-title {
  color:#131313;
  font-size: 3rem;
  font-weight: bold;
}
.fact-description{
  font-size: 1rem;
  max-width: 542px;
}
.fact-container {
  display: grid;
  grid-template-columns:repeat(4,1fr);
}
.fact-card {
  border:1px solid #FF900E;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align:center;
  width: 241px;
  height: 241px;
}
.fact-number{
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 600;
  color:#424242;
}
.fact-name {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  color:#727272;
}
/* section four */
.sponsors-container {
  max-width: 542px;
  margin:50px auto;
  text-align: center;
}
.sponsors-title {
  font-size: 45px;
  font-weight: bold;
  color:#131313;
}
.sponsors-description {
  font-size: 16px;
  color:#727272;
}
.sponsors-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsors-companies > img {
  filter: grayscale(100%);
}
/* footer */
.footer {
  font-size: 1.5rem;
  font-weight: 500;
}
#footer-container{
  max-width: 1440px;
  margin: 1rem auto;
  background-color: #FFF4E7;
  text-align: center;
  padding:1.2rem;
  border-radius: 0.5rem;
  margin-top: 7rem;
}
/* responsive media quary */
@media screen and (max-width: 576px) {
  .navbar ,.nav-links,.team-container,.features{
    flex-direction:column;
  }
  .team-members-img ,.fact-container,.sponsors-companies{
    grid-template-columns: repeat(1,1fr);
  }
  .fact-container{
    justify-items: center;
    gap:1.5rem;
  }
  .sponsors-companies{
    justify-items: center;
    gap:3rem;
  }
  .our-features {
    margin-left: 1.2rem;
  }
  #experience-btn {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
  .team-container,.features{
    flex-direction: column;
  }
  .our-features{
    margin: 40px auto;
  }
  .fact-container {
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
  }
  .fact-parent {
    justify-items: center;
  }
  .sponsors-companies {
    grid-template-columns: repeat(3,1fr);
    gap:3rem;
  }
  #experience-btn {
    margin-top:1.5rem;
    margin-left:12rem;
  }
}
